<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TPIntegrador.Properties.Settings.TP_IntegradorConnectionString" connectionString="Data Source=desktop-2hufh55\sqlexpress;Initial Catalog=TP_Integrador;User ID=David;Password=gerasimchukqwer12" providerName="System.Data.SqlClient"/>
        <add name="TPIntegrador.Properties.Settings._76004_TPConnectionString" connectionString="Data Source=maquis;Initial Catalog=76004_TP;User ID=avisuales1;Password=avisuales1" providerName="System.Data.SqlClient"/>
        <add name="TPIntegrador.Properties.Settings.TP_IntegradorConnectionString1" connectionString="Data Source=DESKTOP-5898CKK;Initial Catalog=TP_Integrador;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
